@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Science+Gothic:wght@100..900&display=swap');
*{
     font-family: "Funnel Display", sans-serif;
     /* font-family: "Science Gothic", sans-serif; */
}

*::-webkit-scrollbar{
    display: none;
}
html, body, #root {
  background-color: #0F0D0A !important;
  color-scheme: dark;
}
